checks:
    - precommit-dummy
    - specification
    - branch-has-specification
    - allowed-project
    - branch-pattern
    - branch-release
    - codevalidator
specification:
    format: 'jira'
branch-has-specification:
    exceptions:
        - '^release/'
allowed-project:
    allowed:
        - PF
        - CD
branch-pattern:
    allowed:
        - '^release/R'
        - '^feature/'
branch-type:
    allowed:
        - release
        - feature
branch-release:
    pattern: '^R(?:\d|\_|\.)+$'