checks:
    - specification
    - branch-pattern
    - branch-type
    - branch-release
    - codevalidator
branch-pattern:
    allowed:
        - '^release/R'
        - '^feature/'
branch-type:
    allowed:
        - release
        - feature
branch-release:
    pattern: '^R(?:\d|\_|\.)+$'
